/* Mon style */

@media screen and (min-width:576px){

}
@media screen and (min-width:768px){

}
@media screen and (min-width:992px){

}
@media screen and (min-width:1200px){

}

/* Global */

/* Header et Footer*/
/*-------Header------*/
header{
    background: red;
    height:300px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

/* Main*/
h2{
    text-align: center;
    margin-top: 20px;
}
.class1{
    margin-top: 20px;
    margin-bottom: 50px;
}


